
/* Style settings for the list items on edit page. */

.editListItemDiv {
  border: 1px solid black;
  max-width: 500px;
  margin: 5px auto;
  position: relative;
  height: 28px;
}

.editListItemTexts {
  width: 80%;
  float: left;
  margin: auto;
}

.editListItemTexts p {
  width: 50%;
  margin: 0;
  max-height: 28px;
  float: left;
  overflow: auto;
}

.editListItemFirst {
  float: left;
  border-right: 1px solid black;
  margin-right: 4px;
}

.editListItemFirst:hover {
  cursor: pointer;
}

.editListItemLast {
  right: 0;
  position: absolute;
  border-left: 1px solid black;
}

.editListItemLast:hover {
  cursor: pointer;
}
