.App {
  text-align: center;
}

.nav-item,
.last-nav-item {
  display: inline-block;
}

.nav-item a::after {
  display: inline-block;
  color: #000;
  content: "|";
  font-size: 80%;
  font-weight: bold;
  padding: 0 6px;
}

li {
  list-style-type: none;
  text-align: left;
}
